# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/default/files/ctools
sites/default/files/.htaccess
sites/default/files/styles
sites/*/private
tmp/*
C:/wamp/tmp/*
