// Docs: http://foundation.zurb.com/docs/components/buttons.html
//
// Before adding styles be sure to modify variables in the
// "scss/_variables.scss" file.

.button, .button:hover {
	background-color: $brown;
	border: none;
	@include roundedborder(10px);
	border-bottom: 5px solid darken($brown);
}