/* @file
 * This file is a custom file that loads all files. Each non-base layer
 * can be disabled.
 *
 * Do not name this file, "app.scss". If you run a compass update this file can
 * be wiped out with a compass update. By default, when a compass project is
 * created the file will be named app.scss. Thus this file is named,
 * THEMENAME.scss.
 *
 * This application file (THEMENAME.scss) is where all the partials are
 * imported.
 *
 * Theme styles are categorized using SMACSS standards. They utilize
 * categorization of styles into various categories. Those categories are the
 * following:
 *
 * - Base: CSS reset/normalize plus HTML element styling.
 * - Layout: Macro arrangement of a web page, including any grid systems.
 * - Component: Dictate minor layout modules or reusable elements.
 * - State: Describe the appearance of a module in various states.
 * - Theme: Purely visual optional styling ("look-and-feel") for a component.
 *
 * For more information about this new Drupal css file standard, please review
 * the following:
 * - https://drupal.org/node/1887922
 * - http://smacss.com/
 */

// Base
//
// Init file contains required imports. Here's where we include normalize,
// foundation and also compass.
@import "base/init";
// Import our mixins early so they can be used by other partials.
@import "base/mixins";
//
// Common file is where you place common utility classes to extend or
// parametrics. Optional file.
@import "base/common";
//
// Fix for some Drupal CSS quirks (Drupalisms).
@import "base/drupal";
//
// Styling for elements.
@import "base/elements";
//

// Layout
//
// Each section of the document has it's own partial seperated out to improve
// developer experience. Additionally, grids can be declared in layouts as well.
@import "layout/header";
@import "layout/main";
@import "layout/aside";
@import "layout/triptych";
@import "layout/footer";
@import "layout/fonts";

body, h1{
	font-family: 'Source Sans Pro', sans-serif;
	color:$darkgrey;
}
.fullW{
	padding: 0em;
}

.videoheader{
	max-width: 100%;
}
p{
	color:$darkgrey;
}

.block-title{
	text-align: center;
}

.videoWrapper video{
	width: 100%;
}
.block-block-1{
	position: absolute;
	left: 30%;
  	right: 30%;
  	z-index: 20;
  	top: 30%;
}

@media only screen and (min-width: 768px) {
.block-block-8{
	position: absolute;
    left: 25%;
  right: 25%;
  z-index: 20;
  top: 70px;
}
}
@media only screen and (min-width: 480px) {
.block-block-8{
	position: absolute;
  right: 0%;
  z-index: 20;
  top: 70px;
  p{
	span{
		font-size: 3em;
	}
  }
}
}
.block-menu-menu-idoc-menu{
	li{
		display: inline-block;
		padding-right: 60px;
		a{
			color:$darkgrey;
		}

	}
}
.l-what-region .button, .l-how-region .button {
  margin-left: 20px;
  margin-right: 20px;
}
.l-how-region .button{
	  margin-top: 30px;
}

.footerlinks a {
  color: $darkgreylinks;
  border-bottom: 1px solid #000;
  padding-bottom: 0px;
}
.logo object{
	width:20%;
}
.link{
	float:right;
	padding-right:5%;
	padding-bottom: 1%;

}
.baar{
	background-color: #FFF;
}
.block-views-referenties-block{
	h2{
		text-align: center;
		background-color: $brown;
		color:#fff;
		  padding-top: 20px;
		  padding-bottom: 20px;
		  margin-bottom: 0px;
		  margin-top: 0px;
	}
	.view-header{
		text-align: center;
		background-color: $brown;
		p{
			color:#fff;
			padding-bottom: 50px;
			margin-bottom: 0px;
		}
	}
}

.l-referenties-region{
	&.row{
		max-width: 100%;
			table{
			margin-left: auto;
	  		margin-right: auto;
	  		border:none;
	  		margin-bottom: 0px;
	  		tr td{
	  			padding:0px;
	  		}
		}
	}

}

/* NAVIGATION - HOME */
.wrapper {
  position: relative;

  .line {
    background-color: #ddd;
    height: 3px;
    left: 0;
    position: absolute;
    top: 34px;
    width: 100%;
    z-index: -99;
  }
}

.hamburger {
  cursor: pointer;
  position: absolute;
  right: 0;
  width: 20%;

  .inner {
    background-color: #eee;
    display: inline-block;
    float: right;
    margin-right: 10px;
    padding: 0.5em;
  }

  .nav-line {
    background-color: #000;
    height: 6px;
    width: 35px;
  }

  .nav-line.middle {
    margin-bottom: 5px;
    margin-top: 5px;
  }
}

.nav-hidden {
  display: none;
}

.l-whatmenu-region {
  .large-9 {
    width: 100%;
  }

  .logo {
    background-color: #fff;
    max-width: 250px;
    width: 80%;
  }

  .sub-nav {
    margin-top: 10px;
  }

  li {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;

    a {
      display: block;
      padding: 0.2em;
      width: 100%;

      &:hover {
        color: #000;
      }
    }

    &.active {
      .circle {
        background-color: #bb9711;
      }

      a {
        background-color: transparent;
        color: #000;
        font-weight: normal;
        padding: 0;
      }
    }

    .circle {
      background-color: #fff;
      border-radius: 50%;
      // color: #bb9711;
      height: 20px;
      margin: 0 auto 10px;
      position: relative;
      width: 20px;

      display: none;

      &:after {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 50%;
        content: "";
        height: 28px;
        left: -4px;
        position: absolute;
        top: -4px;
        width: 28px;
        z-index: -1;
      }
    }
  }
}

@media only screen and (min-width : 1020px) {
  .hamburger {
    display: none;
  }

  .l-whatmenu-region .large-9 {
    width: 75%;
  }

  .nav-hidden {
    display: block;
  }

  .sub-nav {
    li {
      display: inline-block;
      width: auto;

      .circle {
        display: block;
      }
    }
  }
}

/* ***** */

.l-brickland-region{
	&.row{
		max-width: 100%;
	}
	img{
		height: 480px;
  		width: 100%;
	}
}
.block-views-referenties-block a img{
	height:310px;
}
.block-views-referenties-block a img:hover{
	opacity:0.5;
}
.l-storyworld-region{
	text-align: center;
}
.link a {
  font-size: 1.3em;
  color:$darkgreylinks;
  span{
  	border-bottom: 1px solid $darkgreylinks;
  	padding-bottom: 1%;
  }

}
h2{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: normal;
	color: $darkgrey;
}
.l-how-region{
	background-color: $lightgrey;
	&.row{
		max-width: 100%;
		p, h2{
			text-align: center;

		}

	}
	}
.l-sponsors-region{
	background-color: $lightgrey;
  min-height: 250px;
  table{
		border:none;
		margin-left: auto;
 		margin-right: auto;
 		background:none;
 		tr.even, tr.alt, tr:nth-of-type(even){
 			background: none;
 		}
	}
	img{
		@include opacity(0.2);
		@include desaturate(100%);
		-webkit-transition: all 0.8s ease-in-out;
-moz-transition: all 0.8s ease-in-out;
-o-transition: all 0.8s ease-in-out;
transition: all 0.8s ease-in-out;
	}
	img:hover{
		@include opacity(1);
		@include desaturate(0%);
		-webkit-transition: all 0.8s ease-in-out;
-moz-transition: all 0.8s ease-in-out;
-o-transition: all 0.8s ease-in-out;
transition: all 0.8s ease-in-out;
	}

}


footer{
	&.l-footer{
		&.panel{
			background-color: #302F2F;
			margin-bottom: 0px;
			p, a{
				color:#fff;
			}
			a{
				text-decoration: underline;
			}
		}
		&.row{
			max-width:100%;
			text-align: center;
		}
	}
}
.top-bar{
	background-color: $menubggrey;
	height: auto;
	.top-bar-section ul{
		background-color: $menubggrey;
		@media only screen and (min-width: 940px) {
			li{
			padding-top: 20px;
			padding-bottom: 20px;
		}
	}
	}
}
.node-pagina h1, .node-referentie h1 {
  font-weight: 400;
}

@media only screen and (min-width: 940px) {
ul.title-area {
  padding-top: 16px;
}
.l-how-region h2{
	padding-top: 30px;
}
.top-bar .title-area {
  padding-left: 16%;
  padding-right: 6%;

}
.node-pagina h2, .node-referentie h2{
	text-align: none;
}
}
.top-bar-section ul li a{

	color:$menuitemcolor;
	font-size: 1em;
	background-color: $menubggrey;

}
.top-bar-section ul li.active > a {

	color:$brown;
	background-color: $menubggrey;

}
.node-pagina ul, .node-referentie ul {
  list-style-image: url("../images/bullet.png");
}
.samewidth{
	max-width: 62.5em;
  margin-left: auto;
  margin-right: auto;
}
// Components
 @import "components/buttons";
.darkredbg{
	background-color: $darkred;
	border-bottom: 5px solid darken($darkred, 10%);
}
// @import "components/type";
// @import "components/forms";
// @import "components/foundation-icons";

// Themes
// @import "theme/button-light";

// IE8 Grid Support
//@import "ie";
