// @file
// Place your mixins here. Feel free to roll your own mixins. Or nuke what is
// currently here.

//
// Mixin: Base Utility
//
@mixin stage {
  position: absolute;
  left: -999em;
}

@mixin unstage {
  position: static;
  left: auto;
}
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin roundedborder($border){
	-webkit-border-radius: $border;
	-moz-border-radius: $border;
	border-radius: $border;
}
@mixin desaturate($amount){
-webkit-filter: grayscale($amount);
filter: gray; filter: grayscale($amount);

}